---
import MobileMenu from "./MobileMenu.astro";

const pathname = Astro.url.pathname.replace(/\/$/, "") || "/";

const links = [
  { to: "/", label: "Works" },
  { to: "/about", label: "About" },
  { to: "/contact", label: "Contact" },
];
---

<header class="siteHeader">
  <MobileMenu pathname={pathname} />
  <div class="navbarBar">
    <div
      style={{
        width: "100%",
        display: "flex",
        alignItems: "center",
        justifyContent: "flex-start",
        gap: "32px",
        padding: "0px 32px",
      }}
      class="mobilePaddingSmall"
    >
      <a
        style={{
          textDecoration: "none",
          fontWeight: 600,
          fontSize: "16px",
          whiteSpace: "nowrap",
          lineHeight: "100%",
          color: "#999",
        }}
        href="/"
      >
        Sam
        <br />
        Ticknor
      </a>
      <div class="navbarLinks mobileGap">
        {
          links.map((link) => (
            <a
              class={pathname === link.to ? "" : "clickable"}
              style={{
                textDecoration: pathname === link.to ? "underline" : "none",
                color: "black",
                fontWeight: 600,
              }}
              href={link.to}
            >
              {link.label}
            </a>
          ))
        }
      </div>
      <label for="mobileMenuToggle" class="mobileMenuButton clickable">
        <span class="mobileMenuButtonLabel-open">Menu +</span>
        <span class="mobileMenuButtonLabel-close">Menu −</span>
      </label>
    </div>
  </div>
</header>
