.clickable {
  user-select: none;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.5 !important;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

img {
  user-select: none;
}

a {
  color: black;
}

iframe {
  aspect-ratio: 16/9;
}

::-webkit-scrollbar {
  display: none !important;
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

#root {
  display: flex;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  color: black;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Lora", serif; */
  /* font-family: "Averia Serif Libre", serif; */
  font-family: "PT Serif", serif;
  /* font-family: "Habibi", serif; */
  /* font-family: "Goudy Bookletter 1911"; */
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgb(255 255 240) 0%,
    rgb(246 254 255) 100%
  );
  min-height: 100vh;
}

@media screen and (max-width: 860px) {
  .mobileNav {
    gap: 0px !important;
    align-items: flex-start !important;
    justify-content: space-around !important;
    line-height: 1 !important;
  }

  .mobileStack {
    display: flex;
    flex-direction: column !important;
  }

  .mobileGap {
    gap: 24px !important;
  }

  .mobileFullWidth {
    width: 100% !important;
  }

  .mobileHide {
    display: none !important;
  }

  .mobilePadding {
    padding: 32px !important;
  }

  .mobilePaddingSmall {
    padding: 16px !important;
  }

  .mobileLightboxOuterImage {
    width: 100% !important;
    height: auto !important;
    padding: 40px 0px;
  }

  .mobileLightboxInnerImage {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
}

.upArrowOnHover:hover {
  cursor: n-resize;
}

.leftArrowOnHover:hover {
  cursor: w-resize;
}

.rightArrowOnHover:hover {
  cursor: e-resize;
}

/* ////////////////// CAROUSEL STYLES ///////////////////// */

.imageDetailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: solid 1px rgb(200, 200, 200);
  padding-bottom: 20px;
  margin-top: 10px;
  border-top: solid 1px rgb(200, 200, 200);
  padding-top: 20px;
  width: 100%;
}

.thumbnail {
  padding: 0px 10px 10px 10px;
  height: 200px;
  cursor: pointer;
}

.imageDetails {
  text-align: left;
  color: rgb(100, 100, 100);
  width: 100%;
}

.imageDescription {
  color: rgb(100, 100, 100);
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.imageTitle {
  color: black;
  text-align: center;
  font-style: italic;
  width: 100%;
}

.pageModule {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}

.workImage {
  max-height: 80vh;
  max-width: 100%;
  margin-bottom: 20px;
  object-fit: contain;
}

.video {
  max-width: 100%;
  margin-bottom: 20px;
}

.imageWithTextModule .workImage,
.textWithImageModule .workImage {
  max-width: 80%;
}

.workText {
  max-width: 80%;
  margin-bottom: 10px;
}

.gridItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.gridImage {
  object-fit: contain;
  margin-bottom: 15px;
  width: 100%;
  max-height: 90vh;
}

.gridItem .imageTitle {
  text-align: center;
  margin-bottom: 5px;
}

.gridItem .imageDetails {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

#grid {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#carouselControlsContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 10px;
  color: black;
  width: 100%;
}

#carouselControlNext,
#carouselControlPrev {
  font-size: 24px;
  line-height: 16px;
  cursor: pointer;
  user-select: none;
}

#carouselControlShowThumbnails {
  cursor: pointer;
  user-select: none;
}

#carouselControlNext:hover,
#carouselControlPrev:hover,
#carouselControlShowThumbnails:hover {
  opacity: 0.7;
}

#carouselIndexDisplay {
  margin: 0px 10px;
  color: rgb(100, 100, 100);
  user-select: none;
  width: 70px;
  text-align: center;
}

#carouselControls {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .fullImage {
    height: initial;
    width: 100%;
  }

  .menuOption,
  .subOption {
    padding: 5px 0px;
    margin: 0px;
  }

  .homeMenuOption {
    margin: 5px;
    padding-bottom: 15px;
  }

  .pageModule {
    margin-bottom: 30px !important;
  }

  .textWithImageModule,
  .imageWithTextModule {
    gap: 10px !important;
  }

  .imageWithTextModuleText {
    align-items: center !important;
    text-align: left !important;
  }

  .textModule {
    align-items: center !important;
    gap: 15px !important;
  }

  .textModule div {
    max-width: 90% !important;
    width: 90% !important;
  }

  .cascadeModule > div {
    flex-direction: column !important;
    gap: 30px !important;
  }

  .cascadeElement {
    margin-top: 0px !important;
    width: 100% !important;
    align-self: center !important;
  }

  .gridModule > div {
    flex-direction: column !important;
    gap: 30px !important;
  }

  .gridElement {
    margin-top: 0px !important;
    width: 100% !important;
    align-self: center !important;
  }

  .textWithImageModule {
    flex-direction: column-reverse !important;
  }

  .workImage {
    width: 80% !important;
  }

  .imageFullModule > .workImage,
  .carouselModule .workImage {
    width: 100% !important;
    min-height: 30vh !important;
  }

  .pageModule.carouselModule div {
    min-width: 70% !important;
    width: 100% !important;
    text-align: center;
  }
}

.aboutContainer {
  width: 90%;
  text-align: left;
  margin-bottom: 30px;
  color: black;
}

.line {
  display: block;
}

.aboutParagraph {
  margin-bottom: 15px;
}

.aboutContainerHeading {
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.aboutmultilineB {
  margin-bottom: 15px;
}

.aboutmultilineA {
  margin-bottom: 15px;
}
